.menu-item{
    background-color: #264653;
}
.bg-orange{
   background-color: #e76f51; 
}
.orange-color{
    background-color: #e76f51;
}
.orange-text{
    color:#e76f51;
}

.black-color{
    background-color: black;
}
.border-orange{
    border:1px solid #e76f51;
}
.text-decoration{
    text-decoration: none;
}




